<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Optional permissions -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyBrainMemory"
        tools:targetApi="31">
        <activity
            android:name=".LoginScreen"
            android:exported="false" />
        <activity
            android:name=".RegistrationScreen"
            android:exported="false" />
        <activity
            android:name=".MenuScreen"
            android:exported="false" />
        <activity
            android:name=".PlayScreenMatching"
            android:exported="false" />
        <activity
            android:name=".MatchingStartScreen"
            android:exported="false"/>
        <activity
            android:name=".JigsawPuzzleStartScreen"
            android:exported="false"/>
        <activity
            android:name=".DifficultyLevelScreen"
            android:exported="false"/>
        <activity
            android:name=".ScoreBoardScreen"
            android:exported="false"/>
        <activity
            android:name=".SearchReportActivity"
            android:exported="false"/>
        <activity
            android:name=".jigsawpuzzle.puzzle.PuzzleActivity"
            android:screenOrientation="landscape"
            android:exported="false"/>
        <activity
            android:name=".WelcomeScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>